
span.style66 {
    color: #A70000;
    
    font-family: "Helvetica";
    
    font-size: 14px;
    
}

span.style3{color:#FF0000;
    font-weight:bold;
    font-family: "Helvetica";
    font-size: 14px;
}

span.style19{color:#FC7F3C;
    font-weight:bold;
    font-family: "Helvetica";
    font-size: 14px;
}
span.style39{color:#006d80;
    font-weight:bold;
    font-family: "Helvetica";
    font-size: 14px;
}
span.style6{
    color:#417394;
    text-decoration:line-through;
}
span.style10{color:#B9121B;
    text-shadow:0px 1px 1px rgba(240,240,240,0.3),0px 1px 1px rgba(0,0,0,0.3);
} /*BOT*/
span.style80{//color: #1400FF;
    color:#03A9F4;
    font-weight:bold;
    font-family: "Helvetica";
    font-size: 14px;
}
span.style83{color:black;
    font-weight:bold;
    font-family: "Helvetica";
    font-size: 14px;
}
span.style95{color:#2d9500;
    font-weight:bold;
    font-family: "Helvetica";
    font-size: 14px;
}
span.style94{font-weight:bold;
    font-family: "Helvetica";
    font-size: 14px;
    color:rgb(161,1,166);
}
span.style66{color:#A70000;
    font-weight:bold;
    font-family: "Helvetica";
    font-size: 14px;
}
span.style92{color:#F9A600;
    font-weight:bold;
    font-family: "Helvetica";
    font-size: 14px;
}
span.style91{color:#FC7F3C;
    font-weight:bold;
    font-family: "Helvetica";
    font-size: 14px;
}
span.style40{color:#2d9500;
    font-weight:bold;
    font-family: "Helvetica";
    font-size: 14px;
}
span.style2{
    color:#417394;
}
span.style9{color:#F9A600;
    font-weight:bold;
    font-family: "Helvetica";
    font-size: 14px;
}
span.style4{color:black;
    font-weight:bold;
    font-family: "Helvetica";
    font-size: 14px;
}
span.style55{font-weight:bold;
    font-family: "Helvetica";
    font-size: 14px;
    color:rgb(161,1,166);
}
span.style93{color:#417394;
    font-size:50%;
}
span.style85{
    //color: #2C3E50;
    //color: #7f8c8d;
    //color: #2b6b5e;
    //color: #00759c;
    //color: #0070D2;
    color:#054667;
    font-weight:bold;
    font-family: "Helvetica";
    font-size: 14px;
}
span.style38{color:#f9a600;
    font-weight:bold;
    font-family: "Helvetica";
    font-size: 14px;
}

